.vch_enhancer_menu_option {
	margin-bottom: 10px;
}

.vch_enhancer_menu_option > button {
	margin-left: 4px;
}

.vch_enhancer_popup_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 14;
	overflow: auto;
}

.vch_enhancer_popup_container.vch_enhancer_hide {
	display: none;
}

.vch_enhancer_popup_dialog {
	position: relative;
	margin: auto;
	top: 15%;
	width: 400px;
	height: 500px;
	padding: 20px;
	background-color: white;
	overflow: hidden;
}

.vch_enhancer_popup_dialog > textarea {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	resize: none;
}

.vch_enhancer_scroll_button {
	font-size: 50px;
	position: fixed;
	bottom: 5%;
	right: 4%;
	z-index: 2;
	user-select: none;
}

.vch_enhancer_scroll_button:hover {
	filter: brightness(0.8);
}

.vch_enhancer_scroll_button:active {
	filter: brightness(0.6);
}

.vch_enhancer_modal {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: auto;
}

.vch_enhancer_modal.vch_enhancer_hide {
	display: none;
}

.vch_enhancer_modal > img {
	margin: auto;
}

.vch_enhancer_post_img {
	max-width: 800px;
}

div.vch_enhancer {
	display: inline;
}